{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Administration</h1>
    <div><a href="{{ path('reportage_create') }}">Créer un nouveau reportage</a></div>
    <div><a href="{{ path('reportage_list') }}">Modifications des reportages</a></div>
    <div><a href="{{ path('category_list') }}">Gestion des catégories</a></div>

{% endblock%}