/* ---------- Icone FontAwesome NavBar ---------- */
.fas.fa-home, .fas.fa-camera, .fas.fa-envelope, .fas.fa-sign-in-alt{
    margin-right: 5px;
}

/* ---------- Form Contact ---------- */
.form-email{
    width: 100%;
    max-width: 350px;
}

.form-message{
    width: 100%;
    max-width: 700px;
}

/* ---------- Fixed Footer Bottom ---------- */
#page {
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

#content{
    flex-grow:1;
}

/* ---------- Footer Style ---------- */
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .copiryght {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 13px;
}

.social > a {
    border: 1px solid white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: white;
}

.social > a:hover {
    color: #18BC9C;
}

.footer-basic ul {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul li a {
    color: white;
}

.footer-basic ul li a:hover {
    color: #18BC9C;
}

.footer-basic p {
    color: white;
}

/* ---------- Pagination Style ---------- */
.pagination > li > a,
.pagination > li > span{
    background-color: #18BC9C!important;
    color: #ffffff!important
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color: #2C3E50 !important;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
    background-color: #1e2b37!important;
    color: #ffffff !important;
}